@import '../components/constants.css';

.articleContainer {
  --article-max-width: 78.4rem;
  display: grid;
  grid-template-areas: 'main side';
  grid-template-columns: var(--article-max-width) auto;
  grid-column-gap: 1rem;
  margin-top: 2rem;
}

.articleContainer article {
  grid-area: main;
}

.articleContainer article h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
}

.articleContainer article h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color1);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.articleContainer article h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--text-color1);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.articleContainer article time {
  font-size: 1.4rem;
  color: var(--text-grey);
  margin: 0 1rem 1rem 1rem;
}

.articleBody {
  color: var(--text-color1);
  font-size: 1.6rem;
}

.articleBody p {
  margin-bottom: 2rem;
}

.articleBody code {
  font-size: 1.6rem;
}

.articleBody blockquote {
  font-size: 1.6rem;
  line-height: 1.6;
}

.subscribeBox {
  grid-area: side;
  height: 29.4rem;
  position: sticky;
  top: 0;
}

.heroImage {
  height: calc(var(--article-max-width) / 1.618);
  margin-bottom: 2rem;
}

.heroForeground {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(transparent 70%, black);
  opacity: 0.8;
}

@media (max-width: 1042px) {
  .articleContainer {
    display: block;
    max-width: var(--article-max-width);
  }

  .articleContainer article {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heroImage {
    height: calc((100vw - 2rem) / 1.618);
  }

  .heroForeground {
    background-image: linear-gradient(transparent 50%, black);
    opacity: 0.8;
  }

  .subscribeBox {
    height: auto;
    position: static;
  }
}
