@import '../components/constants.css';

.featuredContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-areas:
    'first second subscribe'
    'first third  subscribe';
  grid-template-columns: 52rem 25.4rem auto;
  grid-template-rows: 14.2rem 14.2rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.subscribeBox {
  grid-area: subscribe;
}

.featuredContainer .articleLink {
  display: block;
  width: 100%;
  height: 100%;
}

.featuredContainer .article:nth-child(1) {
  grid-area: first;
}

.featuredContainer .article:nth-child(2) {
  grid-area: second;
}

.featuredContainer .article:nth-child(3) {
  grid-area: third;
}

.featuredContainer .articleLink {
  color: white;
  position: relative;
}

.featuredContainer h3 {
  color: white;
  position: absolute;
  bottom: 0px;
}

.featuredContainer .article:nth-child(1) h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 2rem;
}

.featuredContainer .article:nth-child(2) h3,
.featuredContainer .article:nth-child(3) h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem;
}

.featuredContainer .articleLink:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent 70%, black);
  opacity: 0.6;
}

.remainingArticles {
  margin-top: 3rem;
}

.remainingArticles .articleInfo {
  margin-left: 2rem;
  width: 51rem;
}

.remainingArticles h3 {
  color: var(--text-color2);
  font-size: 2.2rem;
  font-weight: 500;
}

.remainingArticles time {
  color: var(--text-grey);
  font-size: 1.4rem;
}

.remainingArticles .articleLink {
  display: flex;
  margin: 2rem 0;
  width: 78.4rem;
}

.remainingArticles .articleImage {
  display: block;
  height: 14.2rem;
  width: 25.4rem;
  background-size: cover;
  flex-basis: 25.4rem;
}

.remainingArticles .summary {
  color: var(--text-color1);
  font-size: 1.4rem;
  margin: 0;
}

.articleLink:hover {
  text-decoration: none;
}
