@import './constants.css';

.VerticalSubscribeForm {
  background-color: var(--background-grey-light);
  border: var(--background-grey-dark) solid 1px;
  padding: 2rem;
  color: var(--text-color1);
  font-size: 1.4rem;
  position: relative;
  height: 100%;
}

.VerticalSubscribeForm h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--text-color2);
}

.VerticalSubscribeForm p {
  margin: 0.5rem 0;
}

.VerticalSubscribeForm input {
  width: 100%;
}

.VerticalSubscribeForm input[type="submit"] {
  height: 3.6rem;
  font-size: 1.6rem;
  background-color: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  width: 20.6rem;
}

@media (max-width: 1042px) {
  .VerticalSubscribeForm {
    padding: 3rem;
  }
  .VerticalSubscribeForm p {
    display: none;
  }

  .VerticalSubscribeForm input[type="email"] {
    max-width: 50rem;
    display: inline-block;
    height: 3.6rem;
  }
  .VerticalSubscribeForm input[type="submit"] {
    max-width: 21rem;
    margin-left: 1rem;
    display: inline-block;
    position: static;
  }
}

@media (max-width: 783px) {
  .VerticalSubscribeForm input[type="email"] {
    width: 100%;
    display: block;
    height: 3.6rem;
  }
  .VerticalSubscribeForm input[type="submit"] {
    max-width: 21rem;
    margin-left: 0;
    margin-top: 1rem;
    display: block;
    position: static;
  }
}
